@page
@model HotelManager.Pages.Hotels.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HotelModel</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HotelModel.HotelName" class="control-label"></label>
                <input asp-for="HotelModel.HotelName" class="form-control"/>
                <span asp-validation-for="HotelModel.HotelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelModel.ImageUrl" class="control-label"></label>
                <input asp-for="HotelModel.ImageUrl" class="form-control"/>
                <span asp-validation-for="HotelModel.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelModel.Description" class="control-label"></label>
                <input asp-for="HotelModel.Description" class="form-control"/>
                <span asp-validation-for="HotelModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelModel.HotelRating" class="control-label"></label>
                <input asp-for="HotelModel.HotelRating" class="form-control" type="number" min="1" max="5" step="any"/>
                <span asp-validation-for="HotelModel.HotelRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>