@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="position-absolute top-0 start-0 w-100 h-100">
    <img src="/img/background.jpg" alt="background" class="w-100 h-100"/>
    <div class="position-absolute top-50 start-50 translate-middle bg-dark p-3 rounded-3 bg-opacity-75 text-white text-center">

        <h1>Hotel manager</h1>
        <p>Best booking system in the world</p>
        <a class="btn btn-primary text-white mt-2 mb-2" href="/Search">Book a hotel</a>
    </div>
</div>